    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card shadow h-100 mb-4">
                <div class="card-header py-3">
                    <h6 class="h3 m-0 font-weight-bold text-danger">This account is Blocked</h6>
                </div>
                <div class="card-body">
                    <div class="row my-2">
                        <div class="col-xl-12 col-sm-12 col-md-12 ">
                            <p>This User is blocked, we advise you not to copy any of the content produced by this user</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

