{% extends 'base.html'%}
{% load static %}
{% block content %}

<!--403 error -->

<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Page Restricted 403</h6>
            </div>
            <div class="card-body">
                <p class="h5 font-weight-bold text-primary">
                    You are in restricted area, go back <a href="{% url 'home' %}">Home</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}