{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- User Connected and admin role -->
{% if request.user.is_authenticated and request.user.user_info.status == 1 %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="mb-0 text-xl font-weight-bold badge-primary border-all-around-radius">Administrate Users on the App
            {% if searching %}
                searching... "<i>{{ searching }}</i>"
            {% endif %}
        </h1>
    </div>
    <!-- Search FORM -->
    <form id="searchform" action="#" method="get" accept-charset="utf-8">
        <span>
            <input class="searchfield" id="searchbox" minlength=1 name="searching" type="text" placeholder="Search"
                value="{% if searching %}{{ searching }}{% endif %}">
        </span>
        <span>
            <button class="searchbutton" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
        <span>
            <a class=" btn btn-primary" href="{% url 'administrate_users' %}">Show All Blocked Users</a>
        </span>
    </form>
<span><i class="fa-sharp fa-solid fa-circle text-success"></i> Active Users  </span>
<span><i class="fa-sharp fa-solid fa-circle text-danger"></i> Blocked Users  </span>
<span><i class="fa-sharp fa-solid fa-circle text-primary"></i> Admin Users  </span>

<!-- Listing of the all Blocked Users OR Searching Result Users-->
<!-- To delete a User, Admin need to block the User first -->
<!-- To Give admin Role to a User, User cannot be blocked ,Admin need to unblock the User First -->
{% for user in object_list %}
    <div class="container-fluid bg-light border-bottom-{% if user.status == 2  %}danger{% elif user.status == 1 %}primary{% else %}success{% endif %} border-all-around-radius my-2">
        <div class="row my-2">
            <div class="col-lg-6 col-sm-12 col-md-6 py-3">
                <h6 class=" font-weight-bold text-primary align-left padding-20px-left">
                        <p class="h5 text-secondary"><i class="fa-solid fa-user"></i>
                            <code>{{ user.user.username }}</code>
                            have created 
                            <code>{{ user.nb_testnet }}</code>
                            Testnet(s) and followed by 
                            <code>{{ user.nb_followers }} Users</code>
                        </p>
                </h6>
            </div>
            <!-- Delete Or Admin Role Button -->
            <div class="col-lg-2 col-sm-12 col-md-2 py-3 ">
                <!-- If this user is blocked, Delete button is available -->
                {% if user.status == 2  %}
                    <button type="button" class="btn btn-danger btn-user btn-block" data-toggle="modal"
                    data-target="#DeleteUser{{ user.id }}">
                    <span><i class="fa-solid fa-trash"></i></span>
                    Delete
                    </button>
                    <div class="modal" id="DeleteUser{{ user.id }}" tabindex="-1"
                        aria-labelledby="DeleteUser{{ user.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h3 text-secondary"
                                        id="DeleteUserLabel{{ user.id }}">
                                        <i class="fa-sharp fa-solid fa-circle-exclamation text-warning fa-4x"></i>
                                        Delete User
                                    </h5>
                                </div>
                                <form method="get" action="{% url 'delete_user' user.user.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p class="h4 font-weight-bold text-uppercase text-primary align-center">
                                            Do you want to Delete this user : {{ user.user.username }} ? 
                                        </p>
                                        <br>
                                        {% if user.nb_testnet_copied_from_this_author > 0 %}
                                            <p>Some users on the app copied some of Testnet(s) from this user !</p><br>
                                            <p class="h4 text-danger">
                                                <code>{{ user.nb_testnet }}</code>
                                                 Testnet(s) will be deleted and 
                                                 <code>{{user.nb_testnet_copied_from_this_author}}</code>
                                                  Copie(s) from other users will be deleted
                                            </p>
                                            <br>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success btn-user">
                                            YES
                                        </button>
                                        <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                            aria-label="Close">
                                            NO
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <!-- If this user is not blocked and this user have Admin Role -->
                    <!-- Kick admin button available -->
                    {% if user.status == 1 %}
                        <button type="button" class="btn btn-danger btn-user btn-block" data-toggle="modal"
                        data-target="#KickAdminRole{{ user.id }}">
                            <span><i class="fa-solid fa-trash"></i>
                            </span>   
                            Kick as Admin
                        </button>
                            <div class="modal" id="KickAdminRole{{ user.id }}" tabindex="-1"
                                aria-labelledby="KickAdminRole{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title h3 text-secondary"
                                                id="KickAdminRoleLabel{{ user.id }}">
                                                <i class="fa-sharp fa-solid fa-circle-exclamation text-danger fa-4x"></i>
                                                Kick Admin Role
                                            </h5>
                                        </div>
                                        <form method="get" action="{% url 'give_admin' user.id %}">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <p class="h4 font-weight-bold text-uppercase text-primary align-center">
                                                    Do you want to Kick this user from admin Role : {{ user.user.username }} ?
                                                </p><br>
                                                <p class="h4 text-danger">
                                                    <code>{{ user.user.username }}</code>
                                                     will be as normal User in the app
                                                </p><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success btn-user">
                                                    YES
                                                </button>
                                                <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                                    aria-label="Close">
                                                    NO
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    {% else %}
                        <!-- If this user is not blocked and this user has no admin role -->
                        <!-- Give admin role button available -->
                        <button type="button" class="btn btn-primary btn-user btn-block" data-toggle="modal"
                        data-target="#GiveAdminRole{{ user.id }}">
                            <span><i class="fa-solid fa-lock-open"></i></span>
                            Admin
                        </button>
                            <div class="modal" id="GiveAdminRole{{ user.id }}" tabindex="-1"
                                aria-labelledby="GiveAdminRole{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title h3 text-secondary"
                                                id="GiveAdminRoleLabel{{ user.id }}">
                                                <i class="fa-sharp fa-solid fa-circle-exclamation text-danger fa-4x"></i>
                                                Admin Role
                                            </h5>
                                        </div>
                                        <form method="get" action="{% url 'give_admin' user.id %}">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <p class="h4 font-weight-bold text-uppercase text-primary align-center">
                                                    Do you want to give admin role to this user : {{ user.user.username }} ? 
                                                </p><br>
                                                <p class="h4 text-danger">
                                                    <code>{{ user.user.username }}</code>
                                                     will be able to delete/Block Testnet(s) and Users.
                                                </p><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success btn-user">
                                                    YES
                                                </button>
                                                <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                                    aria-label="Close">
                                                    NO
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                {% endif %}
            </div>
            <!-- END Delete Or Admin Role Button -->
            <!-- Block Or Unblock Button -->
            <div class="col-lg-2 col-sm-12 col-md-2 py-3">
                <!-- If this user is blocked, Unblock button available -->
                {% if user.status == 2  %}
                    <button type="button" class="btn btn-success btn-user btn-block" data-toggle="modal"
                    data-target="#UnBlockUser{{ user.id }}">
                    <span><i class="fa-regular fa-copy"></i></span>
                    Unblock
                    </button>
                    <div class="modal" id="UnBlockUser{{ user.id }}" tabindex="-1"
                        aria-labelledby="UnBlockUser{{ user.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h3 text-secondary"
                                        id="UnBlockUserLabel{{ user.id }}">
                                        <i class="fa-sharp fa-solid fa-circle-exclamation text-warning fa-4x"></i>
                                    </h5>
                                </div>
                                <form method="get" action="{% url 'block_user' user.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p class="h4 font-weight-bold text-uppercase text-primary align-center">
                                            Do you want to Unblock this user : {{ user.user.username }} ? 
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success btn-user">
                                            YES
                                        </button>
                                        <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                            aria-label="Close">
                                            NO
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- If this user is not blocked, block button available -->
                    <button type="button" class="btn btn-warning btn-user btn-block" data-toggle="modal"
                    data-target="#BlockUser{{ user.id }}">
                    <span><i class="fa-regular fa-copy"></i></span>
                    Block
                    </button>
                    <div class="modal" id="BlockUser{{ user.id }}" tabindex="-1"
                        aria-labelledby="BlockUser{{ user.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h3 text-secondary"
                                        id="BlockUserLabel{{ user.id }}">
                                        <i class="fa-sharp fa-solid fa-circle-exclamation text-warning fa-4x"></i>
                                    </h5>
                                </div>
                                <form method="get" action="{% url 'block_user' user.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p class="h4 font-weight-bold text-uppercase text-primary align-center">
                                            Do you want to block this user : {{ user.user.username }} ? 
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success btn-user">
                                            YES
                                        </button>
                                        <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                            aria-label="Close">
                                            NO
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- END Block Or Unblock Button -->
            <!-- View Testnet Button -->
            <div class="col-lg-2 col-sm-12 col-md-2 py-3">
                <a href="{% url 'dashboard' user.user.username %}" class=" btn btn-info btn-user btn-block">
                    <i class="fa-solid fa-eye"></i>
                    View
                </a>
            </div>
            <!-- END View Testnet Button -->
        </div>
    </div>
{% empty %}
<!-- If no users to Show : 0 results with searching and 0 Blocked Users -->
<div class="container-fluid bg-light border-all-around-radius my-2">
    <div class="row my-2">
        <div class="col-lg-12 col-sm-12 col-md-12 py-3">
            <p><i class="fa-solid fa-users-slash fa-2x"></i>. There is no Users to show...</p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<!-- User connected not admin and try to access this page from URL -->
<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">You are not an Admin of the app!</h6>
            </div>
            <div class="card-body">
                <p class="h5 font-weight-bold text-dark">
                    You need to be an admin to access this content
                </p>
                <br>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Pagination -->
{% if searching %}
    {% include "app/inc/pagination.html" with extra_url_args="searching="|add:searching %}
{% else %}
    {% include "app/inc/pagination.html" %}
{% endif %}
<br>
<br>
<hr>
<br>
<br>

{%endblock%}