{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="mb-0 text-xl font-weight-bold badge-primary border-all-around-radius">Testnet Information(s)</h3>
</div>
<!-- Testnet Information Page -->
<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">
            <div class="card-header py-3">
                
                    <div class="row">
                        <div class="col-xl-3 col-md-6"><span class="font-weight-bold badge badge-primary text-secondary">Author</span>
                            {{ object.author }} </div>
                        <div class="col-xl-3 col-md-6"><span class="font-weight-bold badge badge-primary text-secondary">Testnet
                                Name</span> {{ object.testnet_name }} </div>
                        <div class="col-xl-3 col-md-6"><span class="font-weight-bold badge badge-primary text-secondary">Date</span>
                            {{ object.created_on|date }}</div>
                        <div class="col-xl-3 col-md-6"><span class="font-weight-bold badge badge-primary text-secondary">Last
                                Update</span> {{ object.updated_on|date }} </div>
                
            </div>
            {% if testnet.status_testnet == 2  %}<p class="text-danger">(THIS TESTNET IS REPORTED) - copy and
                Edition not available. Do not click on any links of this Testnet until an Admin review it</p>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row my-2">
                <div class="col-xl-3 col-sm-12 col-md-6 py-3">

                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Network
                    </p>

                    <p>
                        {{ object.network_name }}
                    </p>
                </div>
                <div class="col-xl-3 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Status
                    </p>
                    <p>
                        {{ object.network_status }}
                    </p>
                </div>
                <div class="col-xl-3 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Category
                    </p>
                    <p>
                        {{ object.category }}
                    </p>
                </div>
                {% if object.website %}
                <div class="col-xl-3 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Website
                    </p>
                    <p>
                        <a href="{{ object.website }}" target="_blank"><i class="fa-solid fa-link"></i></a>
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="row my-2">
                {% if object.twitter %}
                <div class="col-xl-3 col-sm-6 col-md-6 py-3">
                    <a href="{{ object.twitter }}" target="_blank" alt="Twitter link">
                        <i class="fa-brands fa-twitter fa-4x text-primary"></i>
                    </a>
                </div>
                {% endif %}
                {% if object.facebook %}
                <div class="col-xl-3 col-sm-6 col-md-6 py-3">
                    <a href="{{ object.facebook }}" target="_blank" alt="Facebook link">
                        <i class="fa-brands fa-facebook fa-4x text-primary"></i>
                    </a>
                </div>
                {% endif %}
                {% if object.github %}
                <div class="col-xl-3 col-sm-6 col-md-6 py-3">
                    <a href="{{ object.github }}" target="_blank" alt="Github link">
                        <i class="fa-brands fa-github fa-4x text-primary"></i>
                    </a>
                </div>
                {% endif %}
                {% if object.discord %}
                <div class="col-xl-3 col-sm-6 col-md-6 py-3">
                    <a href="{{ object.discord }}" target="_blank" alt="Discord link">
                        <i class="fa-brands fa-discord fa-4x text-primary"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="row my-2">
                {% if object.telegram %}
                <div class="col-xl-3 col-sm-6 col-md-6 py-3">
                    <a href="{{ object.telegram }}" target="_blank" alt="Telegram link">
                        <i class="fa-brands fa-telegram fa-4x text-primary"></i>
                    </a>
                </div>
                {% endif %}
                {% if object.instagram %}
                <div class="col-xl-3 col-sm-6 col-md-6 py-3">
                    <a href="{{ object.instagram }}" target="_blank" alt="Instagram link">
                        <i class="fa-brands fa-instagram fa-4x text-primary"></i>
                    </a>
                </div>
                {% endif %}
                {% if object.youtube %}
                <div class="col-xl-3 col-sm-6 col-md-6 py-3">
                    <a href="{{ object.youtube }}" target="_blank" alt="Youtube link">
                        <i class="fa-brands fa-youtube fa-4x text-primary"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="row my-2">
                {% if object.whitepaper %}
                <div class="col-xl-6 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Whitepaper
                    </p>
                    <p>
                        <a href="{{ object.whitepaper }}" target="_blank" alt="Whitepaper link">
                            Click here
                        </a>
                    </p>
                </div>
                {% endif %}
                {% if object.browser %}
                <div class="col-xl-6 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Browser
                    </p>
                    <p>
                        {{ object.browser }}
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="row my-2">
                {% if object.wallet1_name %}
                <div class="col-xl-6 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Wallet I
                    </p>
                    {% if object.wallet1_link and object.wallet1_name %}
                    <p>
                        <a href="{{ object.wallet1_link }}" target="_blank" alt="wallet1 link">
                            {{ object.wallet1_name }}
                        </a>
                    </p>
                    {% else %}
                    <p>
                        {{ object.wallet1_name }}
                    </p>
                    {% endif %}
                </div>
                {% endif %}
                {% if object.wallet1_type %}
                <div class="col-xl-6 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Type
                    </p>
                    <p>
                        {{ object.wallet1_type }}
                    </p>
                </div>
                {% endif %}
                {% if object.wallet2_name %}
                <div class="col-xl-6 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Wallet II
                    </p>
                    {% if object.wallet2_link and object.wallet2_name %}
                    <p>
                        <a href="{{ object.wallet2_link }}" target="_blank" alt="wallet2 link">
                            {{ object.wallet2_name }}
                        </a>
                    </p>
                    {% else %}
                    <p>
                        {{ object.wallet2_name }}
                    </p>
                    {% endif %}
                </div>
                {% endif %}
                {% if object.wallet2_type %}
                <div class="col-xl-6 col-sm-12 col-md-6 py-3">
                    <p class="font-weight-bold badge badge-primary text-secondary">
                        Type
                    </p>
                    <p>
                        {{ object.wallet2_type }}
                    </p>
                </div>
                {% endif %}
            </div>
            <br>
        </div>
    </div>
</div>
</div>
<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">
            <div class="card-header py-3">
                <h6 class="h3 m-0 font-weight-bold text-primary">Tasks Description</h6>
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-xl-12 col-sm-12 col-md-12 ">
                        <p>
                            {{ object.tasks_description|linebreaks }}
                        </p>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>


<div class="row align-center">
    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
        {% if testnet.testnet_user == request.user  %}
        <!--A testnet owner cannot report a testnet created by himself-->
        <button href="#" class=" btn btn-danger btn-user" disabled>
            Report not available
        </button>
        {% else %}
        {% if testnet.status_testnet == 2 and request.user.user_info.status == 1 %}
        <!--Testnet is reported and admin is connected, available for cancel report-->
        <button type="button" class="btn btn-danger btn-user" data-toggle="modal"
            data-target="#CancelReportTestnet{{ testnet.id }}">
            Cancel report
        </button>
        <div class="modal" id="CancelReportTestnet{{ testnet.id }}" tabindex="-1"
            aria-labelledby="CancelReportTestnetLabel{{ testnet.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h3 text-secondary" id="CancelReportTestnetLabel{{ testnet.id }}">
                            <i class="fa-sharp fa-solid fa-circle-exclamation text-primary fa-2x"></i>
                        </h5>
                    </div>
                    <form method="get" action="{% url 'report_testnet' slug=testnet.slug_original %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p class="h4 font-weight-bold text-secondary align-center">
                                Do you really want to cancel the report for this Testnet : {{ testnet.testnet_name }} ?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-user">
                                Yes
                            </button>
                            <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                aria-label="Close">
                                No
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <!--A testnet is reported or not, Report Button Available -->
        <button type="button" class="btn btn-danger btn-user" data-toggle="modal"
            data-target="#ReportTestnet{{ testnet.id }}">
            Report
        </button>
        <div class="modal" id="ReportTestnet{{ testnet.id }}" tabindex="-1"
            aria-labelledby="ReportTestnetLabel{{ testnet.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h3 text-secondary" id="ReportTestnetLabel{{ testnet.id }}">
                            <i class="fa-sharp fa-solid fa-circle-exclamation text-danger fa-2x"></i>
                        </h5>
                    </div>
                    <form method="get" action="{% url 'report_testnet' slug=testnet.slug_original %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p class="h4 font-weight-bold text-secondary align-center">
                                Do you really want to report this Testnet : {{ testnet.testnet_name }} ?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-user">
                                Yes
                            </button>
                            <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                aria-label="Close">
                                No
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="col-xl-6 col-sm-12 col-md-12 py-3 align-center">
        {% if testnet.status_testnet == 2 %}
        <!--A reported Testnet cannot be copied anymore until admin cancel the report-->
        <button type="button" class="btn btn-danger btn-user" disabled>
            <span><i class="fa-solid fa-circle-exclamation"></i></span>
            Copy not available
        </button>
        {% else %}
        <a href="{% url 'copy_testnet' slug=object.slug_original %}" class=" btn btn-primary btn-user">
            Copy
        </a>
        {% endif %}
    </div>
</div>
<!--If the logged user is the testnet_user of this testnet, it will have access to his information for this testnet-->
{% if testnet.testnet_user == request.user  %}
<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">
            <div class="card-header py-3">
                <h6 class="h3 m-0 font-weight-bold text-primary">Information(s) User</h6>
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-xl-6 col-sm-12 col-md-12 ">
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Email
                        </p>
                        <p>
                            {{ object.email_user }}
                        </p>
                    </div>
                    {% if object.website_user %}
                    <div class="col-xl-6 col-sm-12 col-md-12 ">
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Link information Testnet
                        </p>
                        <p>
                        <a href="{{ object.website_user }}" target="_blank" alt="webiste user link">
                            Click here
                        </a>
                    </p>
                    </div>
                    {% endif %}
                </div>
                <div class="row my-2">
                    {% if object.twitter_user %}
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p><i class="fa-brands fa-twitter fa-4x text-primary"></i></p>
                        <p>
                            <a href="https://twitter.com/{{ object.twitter_user }}" target="_blank"
                                class="h6 text-primary" alt="Twitter User link">
                                {{ object.twitter_user }}
                            </a>
                        </p>
                    </div>
                    {% endif %}
                    {% if object.telegram_user %}
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p><i class="fa-brands fa-telegram fa-4x text-primary"></i></p>
                        <p class="h6 text-primary">
                            {{ object.telegram_user }}
                        </p>
                    </div>
                    {% endif %}
                    {% if object.github_user %}
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p><i class="fa-brands fa-github fa-4x text-primary"></i></p>
                        <p>
                            <a href="https://github.com/{{ object.github_user }}" target="_blank"
                                class="h6 text-primary" alt="Github User link">
                                {{ object.github_user }}
                            </a>
                        </p>
                    </div>
                    {% endif %}
                    {% if object.discord_user %}
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p><i class="fa-brands fa-discord fa-4x text-primary"></i></p>
                        <p class="h6 text-primary">
                            {{ object.discord_user }}
                        </p>
                    </div>
                    {% endif %}
                </div>
                <!--Wallet I-->
                <div class="row my-2">
                    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
                       
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Wallet I
                        </p>

                        {% if object.wallet1_link and object.wallet1_name %}
                        <p>
                            <a href="{{ object.wallet1_link }}" target="_blank" alt="wallet1 link">
                                {{ object.wallet1_name }}
                            </a>
                        </p>
                        {% else %}
                        <p>
                            {{ object.wallet1_name }}
                        </p>
                        {% endif %}

                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Type
                        </p>
                        <p>
                            {{ object.wallet1_type }}
                        </p>
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Adress
                        </p>
                        <p>
                            {{ object.wallet1_adress }}
                        </p>
                        
                    
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Wallet I Password
                        </p>
                        <p>
                            {{ object.wallet1_password }}
                        </p>
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Wallet I Session
                        </p>
                        <p>
                            {{ object.wallet1_session }}
                        </p>
                    </div>
                    <!--Wallet II-->
                    {% if object.wallet2_name %}
                    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
                       
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Wallet II
                        </p>
                        <p>
                            <a href="{{ object.wallet2_link }}" target="_blank" alt="wallet2 link">
                                {{ object.wallet2_name }}
                            </a>
                        </p>
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Type
                        </p>
                        <p>
                            {{ object.wallet2_type }}
                        </p>
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Adress
                        </p>
                        <p>
                            {{ object.wallet2_adress }}
                        </p>
                        
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Wallet II Password
                        </p>
                        <p>
                            {{ object.wallet2_password }}
                        </p>
                        <p class="font-weight-bold badge badge-primary text-secondary">
                            Wallet II Session
                        </p>
                        <p>
                            {{ object.wallet2_session }}
                        </p>
                    </div>
                    {% endif %}
                </div>
                <br>
             
            </div>
        </div>
    </div>
</div>
<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">
            <div class="card-header py-3">
                <h6 class="h3 m-0 font-weight-bold text-primary">All Your Data About this testnet</h6>
                <p class="h6 text-primary"><i>Write here all the feedbacks you got from the testnet, transactions links,
                        new RPC data, token adress, bash code etc...</i></p>
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-xl-12 col-sm-12 col-md-12 ">
                        <p>
                            {{ object.tasks_results|linebreaks }}

                        </p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row align-center">
    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
        <button type="button" class="btn btn-danger btn-user" data-toggle="modal"
            data-target="#DeleteTestnet{{ testnet.id }}">
            <span>
                <i class="fa-regular fa-copy"></i>
            </span>
            Delete
        </button>
        <div class="modal" id="DeleteTestnet{{ testnet.id }}" tabindex="-1"
            aria-labelledby="DeleteTestnetLabel{{ testnet.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h3 text-secondary" id="DeleteTestnetLabel{{ testnet.id }}">
                            <i class="fa-sharp fa-solid fa-circle-exclamation text-danger fa-2x"></i>
                        </h5>
                    </div>
                    <form method="get" action="{% url 'delete_testnet' slug=object.slug %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p class="h4 font-weight-bold text-secondary align-center">
                                Do you want to delete this Testnet : <code>{{ testnet.testnet_name }}</code> ?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-user">
                                Yes
                            </button>
                            <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                aria-label="Close">
                                No
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
        {% if testnet.status_testnet == 2  %}
        <!-- The Testnet have been reported, editing not permitted-->
        <button class=" btn btn-info btn-user btn-block" disabled>
            Editing not available
        </button>
        {% else %}
        <a href="{% url 'update_testnet' slug=object.slug %}" class=" btn btn-primary btn-user">
            Edit
        </a>
        {% endif  %}
    </div>
</div>
{% endif %}
<!-- End of this Testnet Information -->
<br>
{%endblock%}